In [1]:
import glob 
import pandas as pd 
import numpy as np
import xml.etree.ElementTree as ET 
from datetime import datetime

In [2]:
URL="https://web.archive.org/web/20230908091635%20/https://en.wikipedia.org/wiki/List_of_largest_banks"

In [11]:
def extract(url):
    # Read the tables from the URL using pandas
    try:
        tables = pd.read_html(url)
        if tables:
            # Assuming the first table matches the criteria
            df = tables[1]
            print(df)
            return df
        else:
            print("No tables found with the given attributes.")
            return pd.DataFrame()  # Return an empty DataFrame
    except Exception as e:
        print(f"An error occurred: {e}")
        return pd.DataFrame()

In [17]:
df=extract(URL)

   Rank                                Bank name  Market cap (US$ billion)
0     1                           JPMorgan Chase                    432.92
1     2                          Bank of America                    231.52
2     3  Industrial and Commercial Bank of China                    194.56
3     4               Agricultural Bank of China                    160.68
4     5                                HDFC Bank                    157.91
5     6                              Wells Fargo                    155.87
6     7                        HSBC Holdings PLC                    148.90
7     8                           Morgan Stanley                    140.83
8     9                  China Construction Bank                    139.82
9    10                            Bank of China                    136.81

In [85]:
def transform(df):
    df = df.rename(columns = {'Bank name' : 'Name'})
    df = df.rename(columns = {'Market cap (US$ billion)' : 'MC_USD_Billion'})
    df['MC_GBP_Billion'] = np.round(df['MC_USD_Billion']*0.8,2)
    df['MC_EUR_Billion'] = np.round(df['MC_USD_Billion']*0.93,2)
    df['MC_INR_Billion'] = np.round(df['MC_USD_Billion']*82.95,2)
    return df

In [87]:
df=transform(df)
print(df)

   Rank                                     Name  MC_USD_Billion  \
0     1                           JPMorgan Chase          432.92
1     2                          Bank of America          231.52
2     3  Industrial and Commercial Bank of China          194.56
3     4               Agricultural Bank of China          160.68
4     5                                HDFC Bank          157.91
5     6                              Wells Fargo          155.87
6     7                        HSBC Holdings PLC          148.90
7     8                           Morgan Stanley          140.83
8     9                  China Construction Bank          139.82
9    10                            Bank of China          136.81

   MC_GBP_Billion  MC_EUR_Billion  MC_INR_Billion
0          346.34          402.62        35910.71
1          185.22          215.31        19204.58
2          155.65          180.94        16138.75
3          128.54          149.43        13328.41
4          126.33          146.86        13098.63
5          124.70          144.96        12929.42
6          119.12          138.48        12351.26
7          112.66          130.97        11681.85
8          111.86          130.03        11598.07
9          109.45          127.23        11348.39

In [27]:
csv_file='C:/Users/NARAYAN1.JHA/Downloads/Largest_banks_data.csv'
def load_to_csv(csv_file,df):
    df.to_csv(csv_file)

In [28]:
load_to_csv(csv_file,df)

In [30]:
log_file = 'C:/Users/NARAYAN1.JHA/Downloads/log_file.txt'
def log_progress(message): 
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second 
    now = datetime.now() # get current timestamp 
    timestamp = now.strftime(timestamp_format) 
    with open(log_file,"a") as f: 
        f.write(timestamp + ',' + message + '\n')

In [35]:
def log_dataframe(df, log_file):
    try:
        # Write DataFrame to the log file in plain text format
        with open(log_file, "a") as f:
            f.write(f"Log Timestamp: {datetime.now().strftime('%Y-%h-%d-%H:%M:%S')}\n")
            f.write(df.to_string(index=False))  # Convert DataFrame to plain text
            f.write("\n\n")  # Add spacing for readability
        print(f"DataFrame successfully logged to {log_file}.")
    except Exception as e:
        print(f"An error occurred while writing the DataFrame to the log file: {e}")

In [88]:
#Testing ETL operations and log progress

# Log the initialization of the ETL process 
log_progress("ETL Job Started") 
 
# Log the beginning of the Extraction process 
log_progress("Extract phase Started") 
extracted_data = extract(URL)
log_dataframe(extracted_data,log_file)
 
# Log the completion of the Extraction process 
log_progress("Extract phase Ended")

   Rank                                Bank name  Market cap (US$ billion)
0     1                           JPMorgan Chase                    432.92
1     2                          Bank of America                    231.52
2     3  Industrial and Commercial Bank of China                    194.56
3     4               Agricultural Bank of China                    160.68
4     5                                HDFC Bank                    157.91
5     6                              Wells Fargo                    155.87
6     7                        HSBC Holdings PLC                    148.90
7     8                           Morgan Stanley                    140.83
8     9                  China Construction Bank                    139.82
9    10                            Bank of China                    136.81
DataFrame successfully logged to C:/Users/NARAYAN1.JHA/Downloads/log_file.txt.

In [89]:
# Log the beginning of the Transformation process 
log_progress("Transform phase Started") 
transformed_data = transform(extracted_data) 
log_dataframe(transformed_data,log_file)

# Log the completion of the Transformation process 
log_progress("Transform phase Ended")

DataFrame successfully logged to C:/Users/NARAYAN1.JHA/Downloads/log_file.txt.

In [46]:
# Log the beginning of the Loading process 
log_progress("Load phase Started")
csv_file1='C:/Users/NARAYAN1.JHA/Downloads/Largest_banks_data1.csv'
load_to_csv(csv_file1,transformed_data) 
log_progress("Loading data to csv")
# Log the completion of the Loading process 
log_progress("Load phase Ended") 
 
# Log the completion of the ETL process 
log_progress("ETL Job Ended")

In [58]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.37-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\narayan1.jha\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading SQLAlchemy-2.0.37-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 4.2 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.1 MB 1.9 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 818.6 kB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 818.6 kB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 818.6 kB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 717.0 kB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 717.0 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 699.0 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 734.0 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 703.9 kB/s eta 0:00:00
Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl (299 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.37

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [72]:
import sqlite3
from sqlalchemy import create_engine,text
# Correct database URL format for SQLite
db_url = "sqlite:///my_database.db"
table_name = 'Bank_data'

In [90]:
def load_to_db(transformed_data, db_url, table_name, if_exists="replace"):
    try:
        # Create a database connection engine
        engine = create_engine(db_url)
        
        # Load DataFrame to SQL table
        df.to_sql(name=table_name, con=engine, if_exists=if_exists, index=False)
        
        print(f"Data successfully loaded into the '{table_name}' table.")
    except Exception as e:
        print(f"An error occurred while loading data to the database: {e}")

In [91]:
load_to_db(transformed_data, db_url, table_name, if_exists="replace")

Data successfully loaded into the 'Bank_data' table.

In [94]:
def run_queries(table_name):
    engine = create_engine(db_url)
    with engine.connect() as conn:
        query=text(f"SELECT * FROM {table_name}")
        result = conn.execute(query)
        print(query)
        for row in result:
            print(row)

    with engine.connect() as conn:
        query=text(f"SELECT AVG(MC_GBP_Billion) FROM {table_name}")
        result = conn.execute(query)
        print("\n")
        print(query)
        for row in result:
            print(row)

    with engine.connect() as conn:
        query=text(f"SELECT Name FROM {table_name} LIMIT 5")
        result = conn.execute(query)
        print("\n")
        print(query)
        for row in result:
            print(row)

In [95]:
run_queries(table_name)

SELECT * FROM Bank_data
(1, 'JPMorgan Chase', 432.92, 346.34, 402.62, 35910.71)
(2, 'Bank of America', 231.52, 185.22, 215.31, 19204.58)
(3, 'Industrial and Commercial Bank of China', 194.56, 155.65, 180.94, 16138.75)
(4, 'Agricultural Bank of China', 160.68, 128.54, 149.43, 13328.41)
(5, 'HDFC Bank', 157.91, 126.33, 146.86, 13098.63)
(6, 'Wells Fargo', 155.87, 124.7, 144.96, 12929.42)
(7, 'HSBC Holdings PLC', 148.9, 119.12, 138.48, 12351.26)
(8, 'Morgan Stanley', 140.83, 112.66, 130.97, 11681.85)
(9, 'China Construction Bank', 139.82, 111.86, 130.03, 11598.07)
(10, 'Bank of China', 136.81, 109.45, 127.23, 11348.39)


SELECT AVG(MC_GBP_Billion) FROM Bank_data
(151.987,)


SELECT Name FROM Bank_data LIMIT 5
('JPMorgan Chase',)
('Bank of America',)
('Industrial and Commercial Bank of China',)
('Agricultural Bank of China',)
('HDFC Bank',)